<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta name="description" content="Website Traval app - udacity project-">
   <meta name="keywords" content="HTML, CSS, JavaScript, NodeJS">
   <meta name="author" content="ameen dababat">
   <title>🌍Travele App🌍</title>
   
</head>
<body>

   <!-- ameen ahmad
   ameendababat07@gmail.com 
   -->
    <h1>plane your Perfect trip</h1>
        
    

<div class="form-container">
<form   class="Myform" > 

        <label for="city">Destination</label>
        <input type="text" id="city" placeholder="enter your Destination" name="city">

        <label for="date">Travel date </label>
        <input type="date"  id="date"  name="date">



        <button type="submit" id="submit-button">Submit</button>

</form> 
</div>
<p id="msg-error-city" style="display: none;"></p> 
<p id="msg-error-date" style="display: none;"></p>

<!-- Detile output  -->

<div class="travel_Info">

</div>

<!-- footer -->
<div class="footer">
    <p> &copy; Final udacity Project. 2025 Travel Website.</p>
    <p>Designed with ❤️ Eng-ameen ahmad Dababat ❤️ </p>
</div>

<script>
    // Check that service workers  supported
    if ('serviceWorker' in navigator) {
        // Use the window load event to keep the page load performant
        window.addEventListener('load', () => {
            navigator.serviceWorker.register('/service-worker.js');
        });
    }
</script>

</body>
</html>