/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


header {
    background-color: #4CAF50;
}


header h1 {
    font-size: 40px;
    margin-bottom: 10px;
}

header p {
    font-size: 19.2px;
}


/* Footer Styles */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
    margin-top: 30px;
    position: relative;
    top: 379px;
}

footer p {
    margin: 5px 0;
    font-size: 1em;
}

footer p:first-child {
    font-weight: bold;
}
