// ameen ahmad dababat
// ameendababat07@gmail.com

body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: #fff;
}
h1 {
    color: #333;
    margin-top: 20px;
}
.form-container {
    background: #eee;
    padding: 20px;
    max-width: 400px;
    margin: 20px auto;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
label {
    display: block;
    margin: 10px 0 5px;
    font-weight: bold;
}
input {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
button {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}
button:hover {
    background-color: #333;
}
.footer {
    margin-top: 20px;
    padding: 10px;
    background: #45a049;
    color: white;
}


/* media queries */
@media (max-width: 600px) {
    .Myform {
        padding: 20px; /* reduce padding */
    }

    button {
        padding: 12px; /* Adjust button padding */
        font-size: 0.9rem; /*  font size */
    }
} 

@media (max-width:401px) {
    .Myform{
        width: 60%;
    }

    .travel_Info{

        width: 60%; 
        margin-top: 10px; 
        padding: 5px;
    }


}